{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "9.3.0"
        }
      }
    ],
    "stage-3"
  ],
  "plugins": [
    [
      "css-modules-transform",
      {
        "generateScopedName": "node-hipster-starter-[local]"
      }
    ],
    "transform-flow-strip-types",
    ["transform-react-jsx", {"pragma": "h"}]
  ]
}
